:root {
    --back-beige: #FFDAB9;
    --med-red: #8c2626;
    --dark-brown: #301F01;
    --light-grey: #E6E6E6;
}

body {
    background-color: var(--back-beige);
    color: var(--dark-brown);
    font-family: "Galdeano", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

/* NAVBAR ====================================================================== */

#navbar-container {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

#navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    position:absolute;
    top: 0;
    z-index: 999;
    transition: all 0.3s linear;
}

.line {
    border-bottom: 2px solid var(--dark-brown);
    margin-top: 4.5rem;
    width: 100%;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#bagel-icon {
    height: 35px;
    margin-right: 0.5rem;
}

#navbar-logo {
    font-family: "Jomolhari", serif;
    background-color: var(--dark-brown);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    padding-left: 50px;
}

#navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    text-align: center;
    margin-left: auto;
    padding-right: 33px;
}

.navbar-item {
    opacity: 75%;
    background-color: var(--med-red);
    margin: 1rem;
    border-color: black;
    border-radius: 0.3rem;
    height: 30px;
    line-height: 30px; 
    box-shadow: 3px 2px 2px rgb(68, 68, 68);
}

.navbar-link:hover {
    opacity: 40%;
}

.navbar-link {
    color: var(--back-beige);
    text-decoration: none;
    padding: 0 1.3rem;
    transition: all 0.2s ease;
    line-height: height;
}

/* #hamburger-icon {
    right: 0;
    margin-top: auto;
    display: block;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
} */

@media screen and (max-width: 600px) {
    #navbar-logo {
        display: none;
    }
  }

/* WELCOME HEADER ====================================================================== */

#welcome-message {
    color: var(--med-red);
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

#welcome-title {
    font-size: 3rem;
    margin-bottom: 15px;
}

#welcome-body {
    font-size: 1.9rem;
    color: var(--dark-brown);
}

/* INFO ====================================================================== */

#info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    align-self: center;
    justify-self: center;
    object-fit: contain;
}

/* INFO LEFT COLUMN ====================================================================== */

#contact-container {
    justify-self: right;
    padding-right: 10%;
    font-size: 18px;
    grid-column-start: 1;
    grid-column-start: 1;
}

#bagels-img {
    width: 350px;
    width: 350px;
}

#contact-info {
    color: var(--dark-brown);
    padding-top: 10px;
}

.contact-item {
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    padding: 5px;
    align-items: center;
}

/* WELCOME BOX (RIGHT COLUMN) ====================================================================== */

#welcome-container {
    padding-right: 3rem;
    align-content: flex-start;
    width: 70%;
    object-fit: contain;
}

#welcome-text-container {
    color: var(--med-red);
    font-size: 18px;
    border: 1px solid var(--dark-brown);
    margin: 0;
    width:auto;
}

#welcome-text {
    margin: 18px;
}

/* IMAGE GALLERY (SUB SECTION OF RIGHT COLUMN) ======================================================================= */

#gallery-container {
    position: relative;
}

#gallery-header {
    margin-top: 1.2rem;
    display: flex;
    align-content: stretch;
    align-content: stretch;
}

.menu-button {
    align-items: flex-end;
    width: 180px;
    text-align: center;
}

.gallery-item {
    display: grid;
    grid-gap: 0.7rem;
    border-radius: 2px;
}

.gallery-item > img {
    width: 150px;
    height: 150px;
    margin: 0.6rem;
}

#media-scroller {
    background-color: var(--back-beige);
    border: 1px solid var(--dark-brown);
    background-color: var(--back-beige);
    border: 1px solid var(--dark-brown);
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    grid-gap: 0.5rem;
    border-radius: 6px;
    /* margin-right: -4rem; */

    overflow-x: scroll;
    overscroll-behavior-inline: contain;

    /* opacity: 1; */
    top: 100%;
    transition: all 0.3s linear;
    margin-bottom: -23rem;
}

/* #media-scroller.reveal {
    opacity: 1;
    top: 100%;
    margin-bottom: 0rem;
    overscroll-behavior-inline: contain; 
    /* TO-DO^ */

/* #media-scroller.unreveal {
    animation: growUp 0.5s ease-in-out forwards
}

@keyframes growDown {
    0% { 
        opacity: 0;
        transform: translateY(-80px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes growUp {
    0% { 
        opacity: 1;
        transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        transform: translateY(-80px);
    }
} */


.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

/* CONTACT ====================================================================== */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}

#footer-content {
    color:rgb(243, 225, 251);
    text-decoration: none;
    font-size: 13.5px;
    line-height: 1;
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;

    transition: all 0.1s linear;
}

#footer-content:hover {
    color:rgb(198, 164, 208);
}
