/* FULL PAGE CSS =================================================================*/

:root {
    --back-beige: #FFDAB9;
    --med-red: #8c2626;
    --dark-brown: #301F01;
    --light-grey: #E6E6E6;
}

body {
    background-color: var(--back-beige);
    color: var(--dark-brown);
    font-family: "Galdeano", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

/* NAVBAR ====================================================================== */

#navbar-container {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

#navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: stretch;
    font-size: medium;
    position: absolute;
    top: 0;
    z-index: 999;
    transition: all 0.3s linear;
}

.line {
    border-bottom: 2px solid var(--dark-brown);
    margin-top: 4.5rem;
    width: 100%;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#bagel-icon {
    height: 35px;
    margin-right: 0.5rem;
}

#navbar-logo {
    font-family: "Jomolhari", serif;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: large;
    padding-left: 40px;
    width: 74%;
    position: absolute;
}

#navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    margin-left: auto;
    padding-right: 33px;
}

.navbar-item {
    opacity: 75%;
    background-color: var(--med-red);
    margin: 1rem;
    border-color: black;
    border-radius: 0.3rem;
    height: 30px;
    line-height: 30px; 
    box-shadow: 3px 2px 2px rgb(68, 68, 68);
}

.navbar-link:hover {
    opacity: 40%;
}

.navbar-link {
    color: var(--back-beige);
    text-decoration: none;
    padding: 0 1.3rem;
    transition: all 0.2s ease;
    line-height: height;
}

.navbar-hamburger-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-left: auto;
}

.hamburger-icon {
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-right: 33px;
}

#hamburger-items {
    background-color: var(--med-red);
    border-radius: 4px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
    padding: 0.5rem;
    transition: all 0.3s ease-in;
}

#hamburger-items.reveal {
    display: flex;
}

.ham-item {
    opacity: 100%;
    box-shadow: none;
}

/* Change navbar to be a hamburger when "Bagel Gourmet Cafe" no longer fits in one line  */
@media screen and (max-width: 876px) {
    #navbar-menu {
        display: none;
    }
    .navbar-hamburger-menu {
        display: flex;
    }
}

/* WELCOME HEADER ====================================================================== */

#welcome-message {
    color: var(--med-red);
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

#welcome-title {
    font-size: 3rem;
    margin-bottom: 15px;
}

#welcome-body {
    font-size: 1.9rem;
    font-weight: 100;
    color: var(--dark-brown);
}

/* INFO ====================================================================== */

#info-container {
    display: flex;
    width: 70%;
    align-self: center;
    justify-self: center;
    justify-items: center;
    object-fit: contain;
    margin-right: 9rem;
}

/* INFO LEFT COLUMN ====================================================================== */

#contact-container {
    padding-right: 10%;
    font-size: medium;
}

#bagels-img {
    max-width: 350px;
}

#contact-info {
    color: var(--dark-brown);
    padding-top: 10px;
}

.contact-item {
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    padding: 5px;
    align-items: center;
}

/* Change layout to be single column once paragraph gets squished */
@media screen and (max-width: 816px) {
    #info-container {
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 1rem;
        align-items: center;
        margin: 0;
    }
    #contact-container {
        padding-right: 0;
    }
}

/* Adjust image size for mobile */
@media screen and (max-width: 450px) { 
    #bagels-img {
        max-width: 260px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* WELCOME BOX (RIGHT COLUMN) ====================================================================== */

#welcome-container {
    align-content: flex-start;
    width: 65%;
    justify-self: right;
}

#welcome-text-container {
    color: var(--med-red);
    font-size: medium;
    border: 1px solid var(--dark-brown);
    margin: 0;
    width: auto;
    margin-right: 3rem;
}

#welcome-text {
    margin: 18px;
}

/* Adjust paragraph sizing for one-column format screen */
@media screen and (max-width: 816px) {
    #welcome-text-container {
        margin-right: auto;
    }
    #welcome-container {
        width: 100%;
    }
}

/* IMAGE GALLERY (SUB SECTION OF RIGHT COLUMN) ======================================================================= */

#gallery-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

#gallery-header {
    margin-top: 1.2rem;
    display: flex;
    align-items: stretch;
}

.gallery-item {
    display: grid;
    grid-gap: 0.7rem;
    border-radius: 2px;
}

.gallery-item > img {
    width: 150px;
    height: 150px;
    margin: 0.6rem;
}

.gallery-item > p {
    text-align: center;
    margin-top: -0.2rem;
}

#media-scroller {
    background-color: var(--back-beige);
    border: 1px solid var(--dark-brown);
    background-color: var(--back-beige);
    border: 1px solid var(--dark-brown);
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    grid-gap: 0.5rem;
    border-radius: 6px;

    overflow-x: scroll;
    overscroll-behavior-inline: contain;

    top: 100%;
    transition: all 0.3s linear;
}

.menu-button-container {
    width: 180px;
    text-align: center;
    margin-bottom: -50px;
}

#menu-button {
    margin-left: 0;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

@media screen and (max-width: 400px) {
    #gallery-container {
        margin-right: 0;
    }
}

/* CONTACT ====================================================================== */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 80px;
    padding: 15px;
    text-align: center;
}

#footer-content {
    color: var(--med-red);
    text-decoration: none;
    font-size: medium;
    line-height: 1;
    font-weight: lighter;

    transition: all 0.1s linear;
}

.footer-button:hover {
    opacity: 40%;
}
